# First install CUDA-enabled PyTorch from:
# https://pytorch.org/get-started/locally/
#
# Example only:
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124

monai
numpy
scipy
scikit-image
matplotlib
pandas
tqdm
fastapi
uvicorn